*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #c5dca0;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: black;
}
h1 {
  text-align: center;
  background-color: #a4c86a;
  border: 1px solid grey;
  color: black;
}
h2,
h3 {
  font-size: 28px;
  background-color: darkolivegreen;
  padding: 1px;
  color: black;
}

.container {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container div {
  border: 3px solid green;
  border-radius: 10px 10px 99px 99px;
  display: block;
}

.cardFourth {
  width: 221px;
  height: 218px;
}
.cardFourth img {
  margin-top: 4px;
}

a:visited {
  color: black;
}
