div{
    height: 50px;
    width: 30px;
    float: left;
    margin-left: 20px;
    margin: 10px;
}

.bloc1{
    background-color: blue;
}
.bloc2{
    background-color: green;
}
.bloc3{
    background-color: red;
    float: left;
    clear: both;
}

img{
    width: 25px;
    height: 25px;
}